<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
           
	<context:component-scan base-package="com.jiang.framework.service,com.jiang.framework.dao"></context:component-scan>
	
	
	
	 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 		<property name="location">
  			<value>classpath:DBPool.properties</value>
 		</property>
 		<property name="systemPropertiesMode">  
            <value>1</value>  
        </property>  
        <property name="searchSystemEnvironment">  
            <value>true</value>  
        </property>  
        <property name="ignoreUnresolvablePlaceholders">  
            <value>true</value>  
        </property>  
	</bean> 	
	
	<bean id="disruptorServer" class="com.jiang.framework.core.DisruptorServer"/>
	<bean id="gameSocketServer" class="com.jiang.framework.core.GameSocketServer"/>
	<bean id="baseDAO" class="com.jiang.framework.util.BaseDAO"/>
	<bean id="baseGameDAO" class="com.jiang.framework.util.BaseGameDAO"/>
	<bean id="BaseLogDAO" class="com.jiang.framework.util.BaseLogDAO"/>
	
	<!-- <bean id="InsertUpdateMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
    	<property name="targetObject">  
        	<ref bean="cacheSynDBService"/>  
    	</property>  
    	<property name="targetMethod">  要执行的方法名称  
        	<value>doInsertAndUpdate</value>  
    	</property>  
	</bean>
	
	
	<bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean" >  
    <property name="jobDetail" ref="InsertUpdateMethod"></property>  
    <property name="cronExpression" value="0 0/5 * * * ?"></property>  
	</bean>
	
	 
    
  
	======================== 调度工厂 ========================  
	<bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy" >  
    	<property name="triggers">  
        	<list>  
            	<ref bean="CronTriggerBean"/>
        	</list>  
    	</property>
    	<property name="configLocation" value="classpath:quartz.properties" />  
	</bean> -->
</beans>